@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body
{
  background-color: #fcfcfc;
}
.container
{
  text-align: center;
  padding: 15px;  
}
.left-div
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 30px;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}
.right-div
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 30px;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
}
.left-text, .right-text
{
  font: 14px 'Source Code Pro', monospace;
	color: #333;
}
@media screen and (max-width: 600px) 
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 61px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
}

.red {
  border-radius: 4px;
  background-color: red;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 61px;
  cursor: pointer;
  }
  .fit{
    background-color: #333;
    width: 18%;

  }
  .detail{
    display: none;
  }